/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media screen and (min-width: 800px) {
   #mobile_header {
      display: none;
      opacity: 0;
   }
   .toggle {
      display: block;
      opacity: 1;
      pointer-events: 1;
   }

   .close_mobile {
      display: none;
      opacity: 0;
      pointer-events: 0;
   }

   .mobile-open {
      left: 0px;
   }

   .mobile-close {
      left: 0px;
   }
}

@media screen and (max-width: 800px) {
   .home {
      z-index: 1;
      padding-top: 0rem;
      position: relative;
   }
   .video-thumb-grid {
      width: calc(100% + 2rem);
   }
   .lightbox-group{

      text-align: center;
   }
   body {
      padding-top: 5.025rem;
   }

   .title_general {
      font-size: 36px;
      text-align: center;
   }
   .spoiler_title {
      font-size: 26px;
      text-align: center;
   }
   .title_info {
      font-size: 26px;
      text-align: center;
   }

   .toggle {
      display: none;
      opacity: 0;
      pointer-events: none;
   }

   .home .text {
      padding: 15px 10px;
      font-size: 3.55vw;
   }

   .home {
      right: 0px;
      left: 0px;
      width: 100%;
   }

   .sidebar.close~.home {
      right: 0px;
      left: 0px;
      height: 100vh;
      width: 100%;
   }
   .sidebar{
      background: var(--flosted-glass-sidebar);
   }
}